.about_block {
    @include flex (row, space-between, center, nowrap);
}

.about_box {
    width: 19%;
    background: $color_text_spec;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
    h3 {
        color:$color_spec_first;
        font-size: 14px;
        padding: 5px;
    }
    .about_box_cont {
        background: $color_spec_first;
        border-radius: 20px;
        padding: 35px 16px 32px;
        height: 216px;
        img {
            margin: 0 auto;
            padding-bottom: 22px;
        }
        p {
            font-size: 14px;
        }
    }
}

@media (max-width: $tablet) {
    .about_block {
      @include flex (row, center, center, wrap);
    }

    .about_box {
        width: 44%;
        margin: 10px;
    }
}

@media (max-width: $mobile) {
    .about_block {
      @include flex (column, center, center, nowrap);
    }

    .about_box {
        width: 60%;
        margin: 10px;
    }
}
