footer {
    background: $bg_footer;
    color: $color_spec_first;
    padding-top: 84px;
}

.footer_cont {
    @include flex (row, space-between, top, nowrap);
    li {
       padding-bottom: 4px;
       margin-bottom: 14px;
       a {
           color: $color_spec_first;
           font-weight: 200;
           padding-bottom: 4px;
       }
       &:hover {
           border-bottom: 1px solid $color_text_spec
       }
       &:hover a {
          color: $color_text_spec;
        }
     }
     p {
         color: $color_spec_fifth;
         line-height: 22px;
     }
     .route {
         display: inline-block;
         margin-top: 35px;
         text-transform: uppercase;
         padding: 18px 66px;
         background: $color_spec_first;
         border: 1px solid $color_text_spec_second;
         box-sizing: border-box;
         box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.1);
         border-radius: 10px;
         color:$color_text_main;
         text-align: center;
        &:hover {
            border: 1px solid $color_text_spec;
            color: $color_text_spec;
        }
     }
}

.footer_block {
  @include flex (column, top, top, nowrap);
  width: 24%;
}

.cont_block {
    margin-top: 42px;
}

.footer_block_4 {
    a {
        display: inline-block;
        font-size: 24px;
        color: $color_spec_first;
        margin-top: 42px;
    }
    .mail {
      font-size: 18px;
      line-height: 30px;
    }
}

.social_block {
  @include flex (row, flex-start, center, nowrap);
  a {
     display: inline-block;
     background: $color_spec_first;
     width: 40px;
     height: 40px;
     border-radius: 50%;
     @include flex (row, center, center, nowrap);
     margin: 56px 5px;
     .icon-social {
         fill: $color_text_spec_third;
     }
     &:hover {
        .icon-social {
            fill: $color_text_spec_second;
        }
     }
  }
}

hr {
  background:$color_text_spec;
  margin-top: 66px;
}

.footer_down {
    padding: 36px 0px;
    color: $color_spec_fifth;
    font-size: 14px;
    line-height: 17px;
}

@media (max-width: $pc){
  .footer_cont {
      @include flex (row, space-between, top, wrap);
      .route {
        padding: 18px 23px;
      }
  }
}


@media (max-width: $notebook){
    .footer_cont {
        @include flex (row, space-between, top, wrap);
        button {
          padding: 18px 23px;
        }
    }

    .footer_block {
      width: 48%;
    }
}

@media (max-width: $mobile) {
  .footer_cont {
      @include flex (column, center, center, wrap);
      .route {
        margin-bottom: 20px;
      }
  }
  .footer_block {
    width: 100%;
  }
}
