.happen {
    padding-bottom: 109px;
}

.happen_cont {
  @include flex (row, center, top, nowrap);

}
.happen_box {
  position: relative;
}

.happen_box_name {
    text-align: center;
    max-width: 170px;
    min-height: 170px;
    padding: 29px 30px;
    background: $color_spec_first;
    border: 1px solid $color_text_spec_second;
    box-sizing: border-box;
    border-radius: 20px;
    transition: border .3s ease;
    margin: 0px 18px;
    cursor: pointer;
    &:hover,
     :active,
     :focus {
         border: 1px solid $color_text_spec;
         box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
         background: $color_spec_first;
     }
    p {
        font-size: 13px;
        padding-top: 22px;
    }
    img {
        margin: 0 auto;
    }
}

.happen_box_info {
      background: $color_spec_first;
      box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
      border-radius: 13px;
      margin-top: 25px;
      padding: 30px 50px;
      margin-bottom: 30px;
      position: absolute;
      top: 105%;
      display: none;
      transition: all .5s ease;
      &.active {
        display: block;
      }
  }

  .info_block_1 {
    width: 300px;
    left: 10%;
      p {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 12px;
      }
      a {
        font-size: 30px;
        color: $color_text_spec_third;
      }
  }

  .info_block_2 {
      width: 770px;
      left: -85%;
      .info_block_cont {
        @include flex (row, center, top, wrap);
        .first_column, .second_column {
          width: 48%;
        }
        .first_column {
          padding-right: 10px;
        }
        .second_column {
          padding-left: 10px;
        }
        li {
          list-style: initial;
          padding-bottom: 7px;
        }
        h4 {
          padding-bottom: 10px;
        }
        p {
          padding-bottom: 10px;
        }
        a {
          color: $color_text_spec;
          &:hover {
              text-decoration: underline;
          }
        }
      }
  }

.info_block_3 {
    width: 450px;
    left: -30%;
    li {
      list-style: initial;
      padding-bottom: 7px;
    }
    h4 {
      padding-bottom: 10px;
    }
    a {
      color: $color_text_spec;
      &:hover {
          text-decoration: underline;
      }
    }
  }

.info_block_4 {
    width: 390px;
    left: -100%;
    button {
        position: relative;
        padding: 18px 80px 18px 32px;
        background: $color_spec_first;
        border: 1px solid $color_text_spec_second;
        box-sizing: border-box;
        box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
        border-radius: 6px;
        img {
          position: absolute;
          top: 33%;
          right: 10%;
        }
    }
}


@media (max-width: $notebook) {
  .happen_cont {
    @include flex (column, center, top, nowrap);
  }

  .happen_box_name {
      text-align: center;
      max-width: 170px;
      min-height: 170px;
      padding: 29px 30px;
      background: $color_spec_first;
      border: 1px solid $color_text_spec_second;
      box-sizing: border-box;
      border-radius: 20px;
      transition: border .3s ease;
      margin: 0px auto;
      margin-bottom: 18px;
      cursor: pointer;
      transition: all .5s ease;
      &:hover,
       :active,
       :focus {
           border: 1px solid $color_text_spec;
           box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
           background: $color_spec_first;
       }
      p {
          font-size: 13px;
          padding-top: 22px;
      }
      img {
          margin: 0 auto;
      }
  }

  .happen_box_info {
        background: $color_spec_first;
        box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
        border-radius: 13px;
        margin-top: 25px;
        padding: 30px 50px;
        position: relative;
        margin: 0 auto;
        margin-bottom: 20px;
        display: none;
        &.active {
          display: block;
        }
    }

    .info_block_1 {
      width: 350px;
      left: 0%;
        p {
          font-size: 14px;
          line-height: 17px;
          margin-bottom: 12px;
        }
        a {
          font-size: 30px
        }
    }

    .info_block_2 {
      left: 0%;
        .info_block_cont {
          @include flex (row, center, top, wrap);
          .first_column, .second_column {
            width: 48%;
          }
          .first_column {
            padding-right: 10px;
          }
          .second_column {
            padding-left: 10px;
          }
          li {
            list-style: initial;
            padding-bottom: 7px;
          }
          h4 {
            padding-bottom: 10px;
          }
          p {
            padding-bottom: 10px;
          }
          a {
            color: $color_text_spec;
            &:hover {
                text-decoration: underline;
            }
          }
      }
    }

  .info_block_3 {
      left: 0%;
      li {
        list-style: initial;
        padding-bottom: 7px;
      }
      h4 {
        padding-bottom: 10px;
      }
      a {
        color: $color_text_spec;
        &:hover {
            text-decoration: underline;
        }
      }
    }

  .info_block_4 {
      width: 390px;
      left: 0%;
      button {
          position: relative;
          padding: 18px 80px 18px 32px;
          background: $color_spec_first;
          border: 1px solid $color_text_spec_second;
          box-sizing: border-box;
          box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
          border-radius: 6px;
          img {
            position: absolute;
            top: 33%;
            right: 10%;
          }
      }
   }
}

@media (max-width: $tablet) {
  .info_block_2 {
      .info_block_cont {
        @include flex (column, center, top, wrap);
        .first_column, .second_column {
            width: 100%;
            padding-right: 0px;
            padding-left: 0px;
        }
      }
    }
}

@media (max-width: $mobile) {

  .info_block_1, .info_block_2, .info_block_3, .info_block_4 {
      width: 300px;
  }
  .info_block_4 {
      button {
          font-size: 13px;
          position: relative;
          padding: 15px 47px 13px 9px;
          img {
            position: absolute;
            top: 33%;
            right: 10%;
          }
      }
  }
}
