.header_bg {
    background: $color_spec_first;
    box-shadow: 0px 4px 15px rgba(49, 60, 72, 0.05);
}

.header_top {
    @include flex (row, flex-start, center, nowrap);
    overflow: hidden;
}

.header_logo {
    display: block;
    width: 10%;
    padding: 11px 0px;
}

nav {
    width: 90%;
}

.nav_box {
    @include flex (row, space-between, center, nowrap);
}

.nav_menu {
    @include flex (row, center, center, nowrap);
    width: 55%;
    .nav_item {
      padding: 5px 30px;
        .nav_item_link {
            font-size: 18px;
            color: $color_spec_second;
            &:hover,
             :active,
             :focus {
                 color:$color_text_spec;
            }
        }
    }
}

.heder_number {
    font-size: 18px;
    a{
        color: $color_spec_second;
        &:hover,
         :active,
         :focus {
            color:$color_text_spec;
        }
    }
}

.header_room {
    @include flex (row, center, center, nowrap);
    font-size: 18px;
    .icon-people {
        width: 28px;
        height: 28px;
        fill: $color_spec_second;
        margin-left: 15px;
    }
    &:hover,
     :focus,
     :active {
         color: $color_text_spec;
         .icon-people {
             fill: $color_text_spec;
         }
      }
}

.ham_menu {
    @include flex (column, flex-start, flex-end, nowrap);
    cursor: pointer;
    display: none;
    .ham_menu_line {
        display: block;
        width: 35px;
        height: 4px;
        margin-bottom: 5px;
        background: $color_spec_second;
    }
    &:hover .ham_menu_line,
     :focus .ham_menu_line,
     :active .ham_menu_line {
       background: $color_text_spec;
    }
}

.header_main {
    @include flex (row, space-between, center, nowrap);
    position: relative;
    z-index: -10;
    background: $color_spec_first;
    box-shadow: 2px 2px 5px rgba(20, 29, 61, 0.15), -2px -2px 5px rgba(20, 29, 61, 0.15);
    border-radius: 30px;
    margin: 30px 0px 108px;
    padding: 110px 90px 64px;
    position: relative;
}

.header_main_text {
    width: 42%;
    p {
        font-size: 14px;
        color: $color_spec_third;
        margin-bottom: 92px;
    }
    .button_w {
        padding: 20px 102px;
    }
}
.button {
    background: $color_spec_first;
    text-transform: uppercase;
    border: 1px solid $color_text_spec_second;
    border-radius: 6px;
    cursor: pointer;
    &:hover,
     :active,
     :focus {
       border: 1px solid $color_text_spec;
       color: $color_text_spec;
     }
}

.header_main_img {
    width: 58%;
    position: absolute;
    top: -5%;
    left: 40%;
}

.button_up {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 1000;
  a {
    display: inline-block;
    padding: 15px 19px;
    background: $color_text_spec;
    color: $color_text_main;
    border-radius: 50%;
  }
}

@media (max-width: $pc) {
  .header_main {
      padding: 47px 30px 44px;;
  }

  .header_main_text {
      width: 38%;
      // h2 {
      //     font-size: 32px;
      // }
      p {
          margin-bottom: 52px;
      }
  }

  .header_main_img {
      width: 62%;
      top: -5%;
  }
}

@media (max-width: $notebook) {
    .nav_menu {
        .nav_item {
            .nav_item_link {
                font-size: 14px;
            }
        }
    }
    .heder_number {
        font-size: 14px;
    }
    .header_room {
        font-size: 14px;
        .icon-people {
            width: 20px;
            height: 20px;
            margin-left: 9px;
        }
    }

    .header_main {
        padding: 40px 30px 40px;;
    }

    .header_main_text {
        width: 38%;
        h2 {
            font-size: 28px;
        }
        p {
            margin-bottom: 30px;
        }
        .button_w {
            padding: 15px 50px;
        }
    }

    .header_main_img {
        width: 62%;
        top: -5%;
    }
  }

@media (max-width: $tablet) {
    .header_top {
        @include flex (row, space-between, center, nowrap);
    }

    .header_logo {
      width: 50%;
    }

    nav {
      @include flex (row, flex-end, center, nowrap);
      width: 50%
    }

    .nav_menu {
        .nav_item {
            padding: 10px 30px;
            .nav_item_link {
                font-size: 22px;
            }
        }
    }
    .heder_number {
        font-size: 22px;
        margin-bottom: 20px;
    }
    .header_room {
        font-size: 22px;
        margin-bottom: 20px;
        .icon-people {
            width: 28px;
            height: 28px;
            margin-bottom: 0px;
        }
    }

    .ham_menu {
        position: relative;
        display: block;
    }

    .ham_menu {
        @include flex (column, center, center, nowrap);
          z-index: 1000;
          position: relative;
          &.active {
              & .ham_menu_line {
              transition: all .4s ease-in-out;
                  &:nth-child(1) {
                      transform: translateY(10px) rotate(45deg); }
                  &:nth-child(2) {
                      opacity: 0; }
                  &:nth-child(3) {
                      transform: translateY(-8px) rotate(-45deg); }
              }
          }
      }

      .nav_box {
          @include flex (column, center, center, nowrap);
          width: 320px;
          position: absolute;
          top: -250px;
          width: 100%;
          left: 50%;
          transform: translateX(-50%);
          transition: all .8s ease-in-out;
          background: $color_spec_first;
          box-shadow: 0px 4px 15px rgba(49, 60, 72, 0.05);
          &.active {
              top: 80px;
        }
      }
      .nav_menu {
          @include flex (column, center, center, nowrap);
          width: 100%;
          padding-bottom: 10px;
      }
      .heder_number {
          padding-bottom: 10px;
          a {
            width: 100%;
          }
      }


      .header_main {
          @include flex (column, center, center, nowrap);
          padding: 15px 20px;
          position: relative;
          margin-bottom: 40px
      }

      .header_main_text {
          width: 100%;
          text-align: center;
      }


      .header_main_img {
        display: none
      }

      .button_up {
        position: fixed;
        bottom: 5%;
        right: 3%;
      }
}
