$pc: 1440px;
$notebook: 900px;
$tablet: 720px;
$mobile: 420px;
$mobile-mini: 320px;

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0px 15px;
}

@media (max-width: $pc){
    .container {
        width: 900px;
    }
}

@media (max-width: $notebook){
    .container {
        width: 720px;
    }
}

@media (max-width: $tablet) {
    .container{
        width: 420px;
    }
    h2 {
      font-size: 33px;
    }
}

@media (max-width: $mobile) {
    .container {
        width: 320px;
    }
    h2 {
      font-size: 36px;
    }
}
